In [1]:
# Import the data
import pandas as pd
df = pd.read_csv("../data/pacific_hurricanes.csv")
df.head()

         Date  hurricane
0  1949-06-11          0
1  1949-06-12          0
2  1949-06-13          0
3  1949-06-14          0
4  1949-06-15          0

Print out the value counts

In [2]:
df['hurricane'].value_counts()

0    22435
1     1842
Name: hurricane, dtype: int64

Count the normalized values and index the value count corresponding to hurricane value 0

In [3]:
df['hurricane'].value_counts(normalize=True).loc[0]

0.9241257156979857